@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
/* :root {
    --calc-bg: #6A7080;
    --digit-btn: #D9D9D9;
    --operator-btn: #ACA8A8;
    --output-bg: #555454;
    --output-color: #A2EA89;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff;
}

.App {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 100%;
    max-width: 400px;
    background-color: var(--calc-bg);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.display {
    padding: 16px;
    text-align: right;
    background-color: var(--output-bg);
    color: var(--output-color);
    font-size: 24px;
    font-weight: 300;
}

.display span {
    font-size: 14px;
    color: #888;
}

button {
    appearance: none;
    border: none;
    outline: none;
    color: #000;
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;
    display: block;
}

button:hover {
    opacity: 0.8;
}

.operators {
    display: flex;
    align-items: center;
}

.operators button {
    flex: 1 1 0%;
    background-color: var(--operator-btn);
    font-weight: 500;
}

.digits {
    display: flex;
    flex-wrap: wrap;
}

.digits button {
    flex: 1 1 33.333%;
    max-width: 33.333%;
    background-color: var(--digit-btn);
    font-weight: 500;
} */

/* OPTION 2 */
:root {
    --calc-bg: #6A7080;
    --digit-btn: #D9D9D9;
    --operator-btn: #ACA8A8;
    --output-bg: #555454;
    --output-color: #A2EA89;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

body {
    background-color: #fff;
}

.App {
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 100%;
    max-width: 400px;
    background-color: var(--calc-bg);
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.display {
    padding: 16px;
    text-align: right;
    background-color: var(--output-bg);
    color: var(--output-color);
    font-size: 24px;
    font-weight: 300;
    margin: 14px;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
}

button {
    color: 000;
    font-weight: 500;
    font-size: 30px;
    padding: 12px;
    cursor: pointer;
    transition: 0.4s;
    border: none;
    outline: none;
    text-align: center;
    margin: 6px;
}

button:hover {
    opacity: 0.8;
}

.digits {
    display: inline-table;
}

.digits button {
    flex: 1 1 33.333%;
    background-color: var(--digit-btn);
    border-radius: 10px;
    height: 65px;
    width: 65px;
}

.operators {
    display: inline-table;
}

.operators button {
    flex: 1 1 33.333%;
    background-color: var(--operator-btn);
    border-radius: 10px;
    height: 65px;
    width: 65px;
}

.clear {
    display: inline-table;
    vertical-align: bottom;
}

.clear button {
    flex: 1 1 33.333%;
    background-color: var(--operator-btn);
    border-radius: 10px;
    height: 303px;
    width: 60px;
}